.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  background: #ffdfa7;
  margin: 10px;
  border: 5px solid #ca9650;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  height: 300px;
}